.popup {
  position: fixed;
  width: 45%;
  height: 75%;
  top: 50;
  left: 50;
  right: 50;
  bottom: 50;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup\_inner {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
